useDynLib(osrv, C_start, C_put, C_clean, C_ask, C_sock_restore, C_mem_store, C_mem_restore, C_stat_store, C_file_store, C_file_restore, C_get, C_dep_req, C_dep_queue, C_start_http, C_evq_push, C_evq_pop, C_evq_new)
export(os.start, o.put, o.clean, os.ask, o.get)
export(createSFS, readSFS, restoreSFS, saveSFS, statSFS)
